body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-image: url(images/image.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

section {
    padding: 6em 2em 2em;
    margin: 2em 0;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
}

#home {
    padding-top: 6em;
    text-align: center;
}

#home .cta-button {
    display: inline-block;
    padding: 0.75em 1.5em;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1em;
    transition: background-color 0.3s ease;
}

#home .cta-button:hover {
    background-color: #0056b3;
}

#about .quote {
    font-style: italic;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 1em;
    border-radius: 5px;
    margin-top: 1em;
    text-align: center;
}

#services ul {
    list-style: none;
    padding: 0;
}

#services ul li {
    margin: 0.5em 0;
    display: flex;
    align-items: center;
}

#services ul li i {
    margin-right: 0.5em;
}

.gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery img {
    max-width: 30%;
    margin: 1em;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.05);
}

form {
    max-width: 600px;
    margin: 0 auto;
}

form label {
    display: block;
    margin: 0.5em 0 0.2em;
}

form input,
form textarea {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
}

form button {
    display: block;
    width: 100%;
    padding: 1em;
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: rgba(0,0,0,0.7);
}

footer {
    background-color: rgba(0,0,0,0.5);
    color: #fff;
    text-align: left;
    display: flex;
    justify-content: space-around;
    padding: 2em 1em;
}

footer .footer-section {
    flex: 1;
    margin: 0 1em;
}

footer h3 {
    margin-top: 0;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin: 0.5em 0;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer ul li a:hover {
    color: #007BFF;
}

footer address {
    line-height: 1.6;
}

.footer-section .social-links a {
    display: flex;
    align-items: center;
}

.footer-section .social-links a i {
    margin-right: 0.5
